@font-face {
    font-family: Asap-Regular; 
    src: url(assets/Asap-Regular.ttf); 
    font-family: Asap-RegularItalic; 
    src: url(assets/Asap-RegularItalic.ttf); 
  }
  .add {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1em;
      float: right;
      margin-right: 6px;
      margin-top: -13px;
      z-index: 1;
  }
  .add-twit {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1em;
      float: right;
      margin-right: 1px;
      margin-top: -57px;
      z-index: 1;
  }
  body {
    font-family: 'Roboto', sans-serif;
    max-width: 1300px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
  }
  .header-theyalow {
      width: 1300px;
      height: 566px;
      background-image: url(assets/headerBackground.png);
  }
  .video-theyalow {
      width: 549px;
      height: 327px;
      position: relative;
      left: -134px;
      bottom: 56px;
  }
  .video-theyalow-main {
      background-image: url(./assets/mainVideo.png);
      width: 315px;
      height: 233px;
  }
  .header-theyalow-title  {
      font-family: 'Asap-Regular', sans-serif;
      font-size: 49pt;
      text-transform: uppercase;
      text-align: center;
      margin-top: 23px;
      margin-left: -45px;
      margin-right: auto;
      margin-bottom: 116px;
      color: rgba(245, 197, 6, 1);
  }
  h1 .header-theyalow-title  {
       color: #ffffff;
  }
  .header-theyalow-section {
      display: -webkit-flex; 
      display: flex; 
      padding-top: 78px;
      padding-left: 150px;
      margin-bottom: 71px;
  }
  .logo {
      display: -webkit-flex; 
      display: flex;
      margin-left: auto;
      margin-right: auto;
      padding-top: 60px;
      padding-left: 232px;
  }
  .logo-img {
      width: 87px;
      height: 87px;
      position: relative;
      right: 95px;
      bottom: 38px;
  }
  .logo-up-img {
      position: relative;
      z-index: 2;
      left: -184px;
      bottom: 39px;
      width: 87px;
      height: 87px;
  }
  .site-name {
      font-family: 'Asap-RegularItalic', sans-serif;
      text-transform: uppercase;
      padding-right: 73px;
      font-size: 2.4em;
      position: relative;
      right: 171px;
      bottom: 10px;
  }
  .navbar {
      width: 453px;
      height: 41px;
  }
  .nav-background-lvl1 {
      background-color: rgba(245, 197, 6, 0.3);
      position: relative;
      width: 100%;
      height: 41px;
  }
  .nav-background-lvl2 {
      background-color: rgba(245, 197, 6, 0.3);
      position: relative;
      width: 100%;
      height: 41px;
      left: 6px;
      top: -37px;
      z-index: 2;
  }
  .nav-background-lvl3 {
      background-color: rgba(245, 197, 6, 1);
      position: relative;
      width: 100%;
      height: 41px;
      left: 11px;
      top: -74px;
      z-index: 3;
      
  }
  button {
      text-transform: uppercase;
      background-color: Transparent;
      background-repeat:no-repeat;
      color: rgba(155, 125, 8, 1);
      border: 0;
      cursor:pointer;
      overflow: hidden;
  }
  button span {
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
  }
  button:hover {
      background-color:#fffff0;
  }
  .devace-gray {
      background-color: #4c4c4c;
      background-image: url(./assets/downground.png);
      height: 499px;
  }
  .div-img-about-us {
      background-image: url(./assets/icons.png);
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height: 36px;
      background-position: 1px 3px;
      background-size: 95px;
  }
  .div-img-services {
      background-image: url(./assets/icons.png);
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height:36px;
      background-position: -29px 3px;
      background-size: 95px;
  }
  .div-img-contact {
      background-image: url(./assets/icons.png);
      background-repeat: no-repeat;
      display: inline-block;
      width: 33px;
      height: 36px;
      background-position: 0px -29px;
      background-size: 95px;
  }
  .btn-services, .btn-about-us  {
      border-right: 1px solid rgba(155, 125, 8, 1);
      height: 41px;
      margin-left: -4px;
  }
  .btn-about-us {
      padding-left: 87px;
  }
  .nav-btn {
      display: flex;
  }
  .switch-with-arrow-left {
      background-color: #f5c506;
      background-image: url(./assets/icons.png);
      display: inline-block;
      width: 32px;
      height: 57px;
      background-position: -58px 56px;
      background-size: 90px;
      margin-top: 135px;
      margin-bottom: auto;
      margin-right: 100px;
      position: relative;
      left: -150px;
      bottom: 59px;
  }
  .switch-with-arrow-left:hover {
      border-right: 3px solid rgba(155, 125, 8, 1);
  }
  .switch-with-arrow-right:hover {
      border-right: 3px solid rgba(155, 125, 8, 1);
  }
  .switch-with-arrow-right {
      background-color: #f5c506;
      background-image: url(./assets/icons.png);
      display: inline-block;
      width: 32px;
      height: 57px;
      background-position: -58px 56px;
      background-size: 90px;
      margin-top: 135px;
      margin-bottom: auto;
      position: relative;
      bottom: 59px;
      transform: rotate(185.36rad);
  }
  .services {
      background-image: url(./assets/servicesBackground.png);
      position: relative;
      width: 100%;
      height: 212px;
      box-shadow: 0px 15px 9px -15px #111;
  }
  .div-img-services {
      background-image: url(./assets/icons.png);
      background-repeat: no-repeat;
      background-position: -30px 3px;
      background-size: 95px;
      display: inline-block;
      width: 33px;
      height: 36px;
      
  }
  .btn-services-better-design, .btn-services-customise, .btn-services-its-free {
      border-left: 1px solid #C0C0C0;
      height: 212px;
  }
  .btn-contact {
      height: 41px;
      margin-left: -5px;
  }
  .btn-contact span { 
       margin-right: 40px;
  }
  .btn-services-better-design {
      margin-left: 139px;
      margin-right: 27px;
      padding-left: 102px;
      position: relative;
      bottom: 5px;
  }
  .btn-services-customise {
      padding-left: 120px;
      padding-right: 72px;
      margin-left: -42px;
  }
  .btn-services-its-free{
      border-right: 1px solid #C0C0C0;
      padding-right: 100px;
      padding-left: 95px;
      position: relative;
      bottom: 5px;
      margin-left: -3px;
  }
  .div-img-services-better-design {
      background-image: url(./assets/servicesIcons.png);
      background-repeat: no-repeat;
      background-position: -18px 3px;
      background-size: 400px;
      display: inline-block;
      width: 146px;
      height: 87px;
      position: relative;
      right: 34px;
      top: 4px;
  }
  .div-img-services-customise{
      background-image: url(./assets/servicesIcons.png);
      background-repeat: no-repeat;
      background-position: -134px 1px;
      background-size: 400px;
      display: inline-block;
      width: 146px;
      height: 96px;
      position: relative;
      right: 17px;
      top: -5px;
  }
  .div-img-services-its-free {
      background-image: url(./assets/servicesIcons.png);
      background-repeat: no-repeat;
      background-position: -298px -5px;
      background-size: 400px;
      position: relative;
      display: inline-block;
      width: 109px;
      top: 10px;
      height: 87px;
  }
  .service-btn {
      display: block;
  }
  .service-btn-width {
      display: block;
      width: 232px;
  }
  .span-services-better-design {
      margin-left: -105px;
      color: #000000;
      font-size: 21pt;
      position: relative;
      top: 15px;
  }
  .span-services-customise {
      margin-left: -65px;
      color: #000000;
      font-size: 21pt;
      position: relative;
      top: 11px;
  }
  .span-services-its-free {
      margin-left: 10px;
      color: #000000;
      font-size: 21pt;
      position: relative;
      top: 15px;
  }
  .lorem {
      font-size: 2.0em;
      text-transform: uppercase;
      text-align: left;
      padding-top: 33px;
      padding-bottom: 33px;
      padding-left: 143px;
  }
  .lorem-dolar {
      font-family:'Roboto', sans-serif;
      font-size: 20pt;
      background-color: #ec9e03;
      margin-left: 139px;
      width: 341px;
      height: 233px;
  }
  .lorem-twitter {
      font-family:'Roboto', sans-serif;
      font-size: 20pt;
      background-color: #ec9e03;
      margin-left: 35px;
      width: 329px;
      height: 233px;
  }
  .div-twitter {
      background-image: url(./assets/twitter.png);
      background-repeat: no-repeat;
      background-position: 100px 49px;
      background-size: 163px;
      display: inline-block;
      width: 300px;
      height: 240px;
      position: relative;
      top: 10px;
      right: 20px;
  }
  .down-title {
      font-family: 'Asap-Regular', sans-serif;
      font-size: 30pt;
      text-transform: uppercase;
      text-align: center;
      color: rgba(245, 197, 6, 1);
      padding-top: 41px;
  }
  .down-flex {
      display: flex;
  }
  .desctop-div {
      background-image: url(./assets/Devices.png);
      background-repeat: no-repeat;
      background-position: 227px -68px;
      background-size: 631px;
      display: inline-block;
      width: 583px;
      height: 267px;
      padding-left: 181px;
      position: relative;
      right: 67px;
      bottom: 67px;
  }
  .main-up {
      background-image: url(./assets/BackgroundMainPart.png);
      height: 508px;
  }
  .lorem-dolar div {
      padding-top: 25px;
      padding-bottom: 24px;
      padding-left: 31px;
      padding-right: 38px;
  }
  .lorem-flex {
      display: flex;
  }
  .twit-counter {
      position: relative;
      top: -210px;
      z-index: 3;
      float: left;
      margin-left: 284px;
      margin-top: -25px;
  }
  .calendar {
      float: left;
      margin-left: 139px;
      background-color: #ddb101;
      width: 113px;
      height: 86px;
      text-transform: uppercase;
  }
  .calendar-data {
      font-size: 2.5em;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 7px;
  }
  .calendar-month {
      color: #b26529;
      text-transform: uppercase;
      font-size: 1em;
      margin-left: 33px;
      position: relative;
      bottom: 7px;
  }
  footer {
      height: 64px;
      background-color: #4c4c4c;
      box-shadow: 0px -7px 10px -9px #000000;
  }
  ul {
      width: 350px;
      margin-top: 87px;
      margin-left: 13px;
      font-size: 2.5em;
      line-height: 0.9;
  }
  footer {
      padding-top: 7px;
      padding-bottom: 6px;
      padding-left: 141px;
  }
  .its-free {
      background-color: #f5c506;
      border-radius: 75px;
      text-align: center;
      text-transform: uppercase;
      width: 116px;
      height: 66px;
      padding-top: 51px;
      left: 138px;
      font-size: 0.9em;
      top: 7px;
      z-index: 2;
      position: relative;
  }
  li {
      color: #f5c506;
      font-size: 1em;
  }
  li span {
      color: #a9a9a7;
      font-size: 0.45em;
  }
  .site-name-down {
      font-family: 'Asap-RegularItalic', sans-serif;
      text-transform: uppercase;
      padding-right: 73px;
      font-size: 1.5em;
      position: relative;
      right: 34px;
      bottom: 14px;
  }
  .logo-up-img-down {
      position: relative;
      z-index: 2;
      left: -48px;
      bottom: -7px;
      width: 51px;
      height: 51px;
  }
  .logo-img-down {
      font-family: 'Asap-RegularItalic', sans-serif;
      text-transform: uppercase;
      font-size: 1.5em;
      position: relative;
      right: -1px;
      bottom: -7px;
      width: 51px;
      height: 51px;
  }
  .slidecontainer {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
  }
  
  .slider {
      -webkit-appearance: none;
      width: 896px;
      height: 15px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      outline: 0;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin-top: 127px;
      position: relative;
      right: 42px;
      z-index: 2;
  }
  .slider:hover {
      opacity: 1;
  }
  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 197px;
      height: 15px;
      background: #ec9e03;
      border-radius: 15px;
      cursor: pointer;
  }
  .slider::-moz-range-thumb {
      width: 197px;
      height: 15px;
      border-radius: 15px;
      background: #ec9e03;
      cursor: pointer;
  }
  .controls {
      background-image: url(./assets/upVideo.png);
      width: 549px;
      height: 327px;
      position: relative;
      left: -134px;
      bottom: 56px;
  }
  .main-video-progress {
      margin-top: 191px;
      margin-left: 82px;
      width: 404px;
      height: 12px;
      border-radius: 5px;
      background-color: rgba(245, 197, 6, 0.5);
  }
  .main-video-progress-bar {
      width: 180px;
      height: 12px;
      border-radius: 5px 0px 0px 5px;
      background-color: rgb(245, 197, 6);
  }
  .playpause {
      font-size: 2em;
      position: relative;
      top: 131px;
      left: 244px;
      z-index: 3;
      padding-top: 8px;
      width: 65px;
      height: 59px;
      background: rgba(245, 197, 6, 0.7);
      text-align: center;
      border-radius: 40px;
  }
  .playpause:hover {
      background: #ec9e03;
  }
  .playpause-main {
      font-size: 2em;
      position: relative;
      top: 92px;
      left: 130px;
      z-index: 3;
      padding-top: 8px;
      width: 60px;
      height: 54px;
      background: rgba(245, 197, 6, 0.7);
      text-align: center;
      border-radius: 40px;
  }
  .playpause-main:hover {
      background: #ec9e03;
  }
  .sound {
      background-repeat: no-repeat;
      background-position: -23px -13px;
      background-size: 50px;
      background-image: url(./assets/sound.png);
      position: relative;
      bottom: 18px;
      margin-left: 511px;
      width: 22px;
      height: 58px;
  }
  .stop-start {
      background: rgba(245, 197, 6, 0.7);
      background-repeat: no-repeat;
      background-position: -1px -13px;
      background-size: 50px;
      background-image: url(./assets/sound.png);
      position: relative;
      bottom: -209px;
      margin-left: 32px;
      width: 25px;
      height: 25px;
      text-align: center;
  }
  .stop-start:hover {
      border-radius: 15px;
  }

@media screen and (max-device-width: 1024px) {
	 body {
		max-width: 1024px;
	}
	.logo {
		background: rgb(87,87,87);
		background: radial-gradient(circle, rgba(87,87,87,1) 35%, rgba(0,0,0,1) 100%);
		width: 148px;
		height: 60px;
        margin: 0;
	}
    .logo-img {
		position: relative;
		right: 204px;
		top: -43px;
		margin-right: 22px;
	}
	.logo-up-img {
		z-index: 2;
		left: -305px;
		bottom: 42px;
		width: 80px;
		height: 80px;
	}
	.site-name {
		position: relative;
		right: 296px;
		bottom: 27px;
	}
	.nav-background-lvl3 {
		width: 318%;
		height: 119px;
		left: -327px;
		top: -142px;
		z-index: 3;
	}
	.btn-services, .btn-about-us, .btn-contact {
		height: 120px;
	}
	.switch-with-arrow-left, .switch-with-arrow-right, .header-theyalow-title {
	    display: none;
	}
	.nav-btn {
		font-size: 2.8em;
	}
	.div-img-about-us {
	    width: 70px;
		height: 72px;
		background-position: 9px 8px;
		background-size: 190px;
	}
	.div-img-services {
	    background-position: -63px 6px;
		background-size: 190px;
		display: inline-block;
		width: 66px;
		height: 72px;
	}
	.div-img-contact {
		width: 66px;
		height: 72px;
		background-position: 0px -58px;
		background-size: 190px;
	}
	.services {
		margin-top: 212px;
		width: 1303px;
		height: 374px;
	}
	.controls {
		background-image: url(./assets/upVideo.png);
		background-size: 1309px;
		width: 1302px;
		height: 657px;
		position: relative;
		left: 2px;
		bottom: 77px;
	}
	.header-theyalow-section {
		padding-left: 0;
	}
	.btn-services-better-design, .btn-services-customise, .btn-services-its-free {
		height: 374px;
	}
	.main-up {
		height: 961px;
		width: 1303px;
		background-image: none;
	}
	.lorem {
		display: none;
	}
	.slider {
		display: none;
	}
	.lorem-dolar {
		font-family: 'Roboto', sans-serif;
		font-size: 20pt;
		background-color: #ec9e03;
		margin-left: 0; 
		width: 619px;
		height: 440px;

	}
	.lorem-flex {
		display: block;
		padding: 15px;
	}
	.video-theyalow-main {
	    width: 619px;
		display: block;
		height: 440px;
		z-index: 4;
		position: relative;
		top: -439px;
		left: 630px;
	}
    .lorem-twitter {
		font-family: 'Roboto', sans-serif;
		font-size: 20pt;
		background-color: #f5c507;
		margin-left: 35px;
		width: 1300px;
		height: 479px;
		position: relative;
		bottom: 412px;
		left: -48px;
	}
	.div-twitter {
		background-size: 354px;
		display: inline-block;
		width: 600px;
		height: 560px;
		position: relative;
		top: 78px;
		right: 275px;
	}
	.calendar {
		display: none;
	}
	.devace-gray {
		height: 945px;
		width: 1303px;
	}
	.down-title {
		font-size: 4em;
		padding-top: 82px;
	}
	.its-free {
		border-radius: 96px;
		text-align: center;
		width: 233px;
		height: 130px;
		padding-top: 88px;
		left: 56px;
		font-size: 0.9em;
		top: 77px;
		z-index: 3;
		position: relative;
		font-size: 1.5em;
	}
	.desctop-div {
		background-position: 243px -51px;
		background-size: 1325px;
		display: inline-block;
		width: 1196px;
		height: 624px;
		padding-left: 162px;
		position: relative;
		right: 141px;
		bottom: 166px;
	}
	.playpause-main {
		font-size: 3em;
		position: relative;
		top: 170px;
		left: 268px;
		z-index: 3;
		padding-top: 24px;
		width: 117px;
		height: 97px;
		text-align: center;
		border-radius: 107px;
	}
	.site-name-down {
		font-size: 2em;
		position: relative;
		right: 34px;
	}
	.video-theyalow-main {
		background-size: 619px;
	}
	.btn-services-better-design, .btn-services-customise, .btn-services-its-free {
		border-left: none;
		border-right: none;
	}
	.progress {	
		position: relative;
		top: 202px
	}
	.main-video-progress {
		margin-top: 191px;
		margin-left: 265px;
		width: 846px;
		height: 20px;
		border-radius: 13px;
	}
	.main-video-progress-bar {
		width: 366px;
		height: 20px;
		border-radius: 15px 0px 0px 15px;
	}
	.stop-start {
		background-position: 9px -4px;
		background-size: 60px;
		position: relative;
		bottom: -426px;
		margin-left: 162px;
		width: 50px;
		height: 50px;
		text-align: center;
	}
	.sound {
		background-position: -54px -19px;
		background-size: 100px;
		position: relative;
		bottom: -164px;
		right: 2px;
		margin-left: 1144px;
		width: 44px;
		height: 116px;
	}
	.playpause {
		font-size: 2em;
		position: relative;
		top: 259px;
		left: 587px;
		z-index: 3;
		padding-top: 44px;
		width: 142px;
		height: 91px;
		text-align: center;
		border-radius: 101px;
	}
	footer {
		width: 1161px;
		padding-bottom: 0;
	}
	ul {
		display: none;
	}
}